In [1]:
import time

# Save timestamp
start = time.time()




import sys
import os
import pandas as pd
import numpy as np
import tensorflow as tf
# import matplotlib.pyplot as plt
import json
from datetime import datetime

In [2]:
print(tf.version.VERSION)

2.18.0-dev20240611

### Specify here the NN topology and the dataframe to be loaded

In [3]:
#specify the NN topology here:
#input_layer_nodes = number_of_attributes
number_of_attributes = 3
hidden_layer_nodes = 3
output_layer_nodes = 3


use_case = "country-of-origin"
dataset_folder = f"../datasets/nprint-raw/{use_case}/"
features_rankings = f"../datasets/nprint-raw/{use_case}/feature-importance.csv"

###Define the model

In [4]:
BATCH_SIZE = 512
EPOCHS = 500

def get_basic_model():
  model = tf.keras.Sequential([
    normalizer,
    tf.keras.layers.Dense(hidden_layer_nodes, activation='relu'),
    tf.keras.layers.Dense(output_layer_nodes)
  ])

  model.compile(optimizer='adam',
                loss=tf.keras.losses.SparseCategoricalCrossentropy(from_logits=True),
                metrics=['accuracy'])
  return model

###Import the data

In [5]:
df_train = pd.read_csv(f'{dataset_folder}X.csv')
df_test = pd.read_csv(f'{dataset_folder}X_val.csv')
label_train = pd.read_csv(f'{dataset_folder}y.csv')
label_test = pd.read_csv(f'{dataset_folder}y_val.csv')

# df_train.drop('pcap', axis=1, inplace=True)
# df_test.drop('pcap', axis=1, inplace=True)
# label_train.drop('pcap', axis=1, inplace=True)
# label_test.drop('pcap', axis=1, inplace=True)
label_train.rename(columns={'0': 'label'}, inplace=True)
label_test.rename(columns={'0': 'label'}, inplace=True)

# display(df_train)
# display(df_test)
# display(label_train)
display(label_test)

                          pcap  label
0       9109839643288513014_us      2
1    1509896412661436048_india      1
2       4729153337409610323_us      2
3      14825888363391133519_us      2
4       3213348536523204869_us      2
5      13985537923854001014_us      2
6          3071069301208868_us      2
7      12090709690547053214_us      2
8    3540288593249185412_india      1
9     148192047132576075_india      1
10   9289437696265599093_china      0
11  17066406276267619584_china      0
12  13365957253030657572_china      0
13   5126330687874584479_china      0
14  18407708388298902762_india      1
15   1995329925935214945_india      1
16     18011003010685857015_us      2
17   7482850165909544683_india      1
18  15562103647426452008_india      1
19  15754455698115015385_india      1
20      4225627852146456409_us      2
21  14298541709203969082_india      1
22   2335546285698433174_india      1
23  14212975416951481485_china      0
24   5595740762212657218_india      1
25  13574273803552691363_china      0
26     16428807618880544092_us      2
27       571018284470516142_us      2
28  10002291241969021992_china      0
29  14069105204657175270_china      0
30  15486767768640470534_india      1
31  15389055301877957415_india      1
32  16478200508359497218_china      0
33    223432658676101061_china      0
34      1662757698482840340_us      2
35     18301540419038822840_us      2
36   8757869523977218781_india      1
37   6006096609485252315_china      0
38   7197856045811478348_china      0
39      9872849365366709052_us      2
40  11283482632527072296_china      0
41     16143428329653199478_us      2
42  10250427116689557130_india      1
43   4844478889670307109_china      0
44  10725741274606403713_india      1
45      7370828148226306579_us      2
46   2555227413181645450_india      1
47   1046861006738581494_india      1
48  12638562860026854112_india      1
49  15204107211065220887_india      1
50   7829234181100185458_india      1
51  12049464775867748185_china      0
52      1338409187981192095_us      2
53     16205308805528100728_us      2
54  10802473720963690503_china      0
55  14008028025797502278_india      1
56   9570671917157414456_china      0
57   9490420376860722251_india      1
58   2379574743438010419_china      0
59   2002785274869085423_india      1

In [6]:
#select a sub-dataframe with only the top attrs rate by the AUTOGLUON feature importance algorithm
#load the file with the rankings
features_rankings_df = pd.read_csv(features_rankings)
features_rankings_df.rename(columns={'0': 'label'}, inplace=True)

#make a list with only the best features
feature_list = features_rankings_df['Unnamed: 0'].tolist()
feature_list = feature_list[:number_of_attributes]
# print(feature_list)

#select a sub-dataframe with only the 32 top attrs rate by the AUTOGLUON feature importance algorithm
df_train = df_train[feature_list]
df_test = df_test[feature_list]
display(df_train)
display(df_test)

     pkt_5_tcp_opt_64  pkt_9_tcp_opt_64  pkt_5_tcp_opt_65
0                   1                 0                 0
1                   0                 1                 0
2                  -1                -1                -1
3                   1                 0                 0
4                   0                 0                 0
..                ...               ...               ...
232                 0                 0                 0
233                -1                -1                -1
234                 0                 0                 1
235                -1                 1                -1
236                -1                 1                -1

[237 rows x 3 columns]

    pkt_5_tcp_opt_64  pkt_9_tcp_opt_64  pkt_5_tcp_opt_65
0                  1                 1                 0
1                 -1                -1                -1
2                 -1                -1                -1
3                  1                -1                 1
4                  0                 0                 0
5                  1                 0                 0
6                  0                 0                 0
7                  1                -1                 1
8                  0                -1                 0
9                  0                 0                 0
10                -1                 1                -1
11                -1                -1                -1
12                 1                 0                 0
13                 0                -1                 0
14                 0                 0                 0
15                 0                 0                 0
16                 1                -1                 1
17                 0                -1                 0
18                 0                 0                 1
19                -1                -1                -1
20                 1                 0                 1
21                 0                 0                 1
22                 0                 0                 0
23                -1                -1                -1
24                -1                 0                -1
25                -1                 0                -1
26                 0                 1                 0
27                -1                -1                -1
28                 0                 0                 0
29                -1                 0                -1
30                -1                -1                -1
31                -1                -1                -1
32                 1                 0                 0
33                -1                 0                -1
34                -1                -1                -1
35                 1                 0                 1
36                 0                 0                 0
37                 1                 1                 0
38                -1                 1                -1
39                 1                 1                 1
40                -1                 1                -1
41                 1                 0                 1
42                -1                -1                -1
43                -1                 1                -1
44                 0                -1                 0
45                 1                 0                 1
46                 0                 0                 0
47                 0                 0                 1
48                 0                 0                 1
49                -1                 0                -1
50                 0                 0                 0
51                -1                 1                -1
52                 1                 1                 1
53                 1                 0                 0
54                -1                 1                -1
55                 0                 0                 1
56                -1                 0                -1
57                 0                -1                 0
58                 0                -1                 0
59                 0                 0                 1

In [7]:
#ONLY FOR VIDEO STREAM USE CASE
#RTS values conversion for video-streaming use-case
# INTEGER = 8

# mini = []
# maxi = []
# column_list = ["pkt_1_rts", "pkt_2_rts", "pkt_3_rts", "pkt_4_rts", "pkt_5_rts", "pkt_6_rts", "pkt_7_rts", "pkt_8_rts"]
# for column_name in column_list:
#     mini.append(df_test[column_name].min())
#     print(mini)    
#     maxi.append(df_test[column_name].max())
#     print(maxi)

# maximo = max(maxi)
# minimo = min(mini)
# print(maximo)


# display(df_test)
# for column_name in column_list:
#     aux = []
#     for x in df_test[column_name]:
#         normalized_value = (x - minimo) / (maximo - minimo)
#         scaled_value = normalized_value * (2**INTEGER - 1)
#         aux.append(scaled_value)
#     df_test[column_name]=aux    
# display(df_test)

# mini = []
# maxi = []
# for column_name in column_list:
#     mini.append(df_train[column_name].min())
#     print(mini)    
#     maxi.append(df_train[column_name].max())
#     print(maxi)

# maximo = max(maxi)
# minimo = min(mini)
# print(maximo)


# display(df_train)
# for column_name in column_list:
#     aux = []
#     for x in df_train[column_name]:
#         normalized_value = (x - minimo) / (maximo - minimo)
#         scaled_value = normalized_value * (2**INTEGER - 1)
#         aux.append(scaled_value)
#     df_train[column_name]=aux
    
# display(df_train)

### NN training

In [8]:
# Begin NN training
NUMBER_OF_ATTRS = df_train.shape[1]

# Convert int values to TF expect values (float)
df_train = np.asarray(df_train).astype(np.float32)
df_test = np.asarray(df_test).astype(np.float32)
# Converts pandas dataframe to tensorflow object
df_train = tf.convert_to_tensor(df_train)
# Normalize the data
normalizer = tf.keras.layers.Normalization()
normalizer.adapt(df_train)
#normalizer.adapt(numeric_features_test)

# Execute Trainning 
print('Starting training for',number_of_attributes,'attributes')
model = get_basic_model()
model.fit(df_train, label_train, epochs=EPOCHS, verbose=2, batch_size=BATCH_SIZE)

# and Testing
test_loss, one_test_acc =  model.evaluate(df_test,  label_test, verbose=1, batch_size=BATCH_SIZE)
tf_predictions_probabilities = model.predict(df_test)

#Crate Confusion Matrix for better understanding of results
tf_predictions = []
for i,x in enumerate(tf_predictions_probabilities):
  #print("i:",i,"x_max:",x.max(),"x:",x)
  j_max = x.argmax()
  tf_predictions.append(j_max)

conf_m = tf.math.confusion_matrix(label_test,tf_predictions)
print(conf_m)

Starting training for 3 attributes

ValueError: Failed to convert a NumPy array to a Tensor (Unsupported object type int).

In [ ]:
# Model info
model.summary()

norm_layer_weights = model.layers[0].get_weights()[0] #weight
norm_layer_biases  = model.layers[0].get_weights()[1] #bias
hidden_layer_weights = model.layers[1].get_weights()[0] #weight
hidden_layer_biases  = model.layers[1].get_weights()[1] #bias
out_layer_weights = model.layers[2].get_weights()[0] #weight
out_layer_biases  = model.layers[2].get_weights()[1] #bias
print('\nInput -> Normalization Layer bias:\n',norm_layer_biases)
print('\nInput -> Normalization Layer weights:\n',norm_layer_weights)
print('\nNormalization -> Hidden Layer bias:\n',hidden_layer_biases)
print('\nNormalization -> Hidden Layer weights:\n',hidden_layer_weights)
print('\nHidden -> Output Layer bias:\n',out_layer_biases)
print('\nHidden -> Output Layer weights:\n',out_layer_weights,'\n')

In [ ]:
# Date for report file
now = datetime.now()
dt_string = now.strftime("%d-%m-%Y-%H-%M-%S")
print(dt_string)
# Report file content
report = {
    "datetime": dt_string,
    "number_of_attributes": number_of_attributes,
    "hidden_layer_nodes": hidden_layer_nodes,
    "output_layer_nodes": output_layer_nodes,
    "accuracy_test": one_test_acc,
    "batch_size": BATCH_SIZE,
    "epochs": EPOCHS
    #"number_of_samples": number_of_samples,
    #"df_number": df_number
}

In [ ]:
#TO DO: use save_models instead of save_weights

# Model parameters json file generation, create file with date-time string to prevent unwated/accidental overwrites
os.chdir('../tf-params-reports/')
print(os.getcwd())

title_parameters_save = f"nn-nprint-{use_case}-model-parameters-{number_of_attributes}x{hidden_layer_nodes}x{output_layer_nodes}.json"
with open(title_parameters_save, "w") as f:
  json.dump(report, f)

title_parameters_save = f"nn-nprint-{use_case}-model-parameters-{number_of_attributes}x{hidden_layer_nodes}x{output_layer_nodes}-{dt_string}.json"
with open(title_parameters_save, "w") as f:
  json.dump(report, f)

# Model file with weights and other params
os.chdir('../tf-models/') 
print(os.getcwd())

title_model_save = f'nn-nprint-{use_case}-model-{number_of_attributes}x{hidden_layer_nodes}x{output_layer_nodes}.keras'
model.save(title_model_save)

# Model weights file generation
# os.chdir('../tf-model-weights/')
# print(os.getcwd())

# title_model_save = f'nn-nprint-model-weights-{number_of_attributes}x{hidden_layer_nodes}x{output_layer_nodes}.weights.h5'
# model.save_weights(title_model_save) # Calling `save('my_model')` creates a SavedModel folder `my_model`.

# title_model_save = f'nn-nprint-model-weights-{number_of_attributes}x{hidden_layer_nodes}x{output_layer_nodes}-{dt_string}.weights.h5'
# model.save_weights(title_model_save) # Calling `save('my_model')` creates a SavedModel folder `my_model`.
    
# model.load_weights(f'nn-nprint-app-iden-model-weights-{number_of_attributes}x{hidden_layer_nodes}x{output_layer_nodes}.weights.h5')

In [ ]:
# Save timestamp
end = time.time()
print(end - start)

In [ ]:

# Acervo - comandos úteis os python
# %pwd
# os.chdir(C:\NN-P4\nn-reports)
# cwd = os.getcwd()
# print(cwd)
# os.listdir()
# os.chdir('../nn-reports/')

In [ ]:
# df_train = pd.read_pickle('/content/drive/MyDrive/nprint/nn-reproduction/app-iden/X.pkl')
# df_test = pd.read_pickle('/content/drive/MyDrive/nprint/nn-reproduction/app-iden/X_val.pkl')
# label_train = pd.read_pickle('/content/drive/MyDrive/nprint/nn-reproduction/app-iden/y.pkl')
# label_test = pd.read_pickle('/content/drive/MyDrive/nprint/nn-reproduction/app-iden/y_val.pkl')