In [1]:
%pwd

'C:\\NN-P4\\python-notebooks'

###Imports and Read CSV

In [2]:
import json
import numpy as np
import pandas as pd
import tensorflow as tf
import os
from datetime import datetime
from keras.callbacks import History # to get train accuracy
history = History()

In [3]:
#nPrintML creates a copy of dataset in pkl picles format. Convert to CSV 1st.
# Read the PKL
# df_train = pd.read_pickle('../datasets/nprint-raw/stream-video-half-c10-x/X.pkl')
# df_test = pd.read_pickle('../datasets/nprint-raw/stream-video-half-c10-x/X_val.pkl')
# label_train = pd.read_pickle('../datasets/nprint-raw/stream-video-half-c10-x/y.pkl')
# label_test = pd.read_pickle('../datasets/nprint-raw/stream-video-half-c10-x/y_val.pkl')
# # Save a copy as CSV
# df_train.to_csv('../datasets/nprint-raw/stream-video-half-c10-x/X.csv')
# df_test.to_csv('../datasets/nprint-raw/stream-video-half-c10-x/X_val.csv')
# label_train.to_csv('../datasets/nprint-raw/stream-video-half-c10-x/y.csv')
# label_test.to_csv('../datasets/nprint-raw/stream-video-half-c10-x/y_val.csv')
# Read CSV
df_train = pd.read_csv('../datasets/nprint-raw/stream-video-half-c10-x/X.csv')
df_test = pd.read_csv('../datasets/nprint-raw/stream-video-half-c10-x/X_val.csv')
label_train = pd.read_csv('../datasets/nprint-raw/stream-video-half-c10-x/y.csv')
label_test = pd.read_csv('../datasets/nprint-raw/stream-video-half-c10-x/y_val.csv')
#Drop colum with pcap sequence number
df_train.drop('pcap', axis=1, inplace=True)
df_test.drop('pcap', axis=1, inplace=True)
label_train.drop('pcap', axis=1, inplace=True)
label_test.drop('pcap', axis=1, inplace=True)
#Rename Unnamed Collumn
label_train.rename(columns={'0': 'label'}, inplace=True)
label_test.rename(columns={'0': 'label'}, inplace=True)

In [4]:
display(df_train)
display(df_test)
display(label_train)
display(label_test)
print(label_train["label"].value_counts())
print(label_test["label"].value_counts())
print(f"df_train shape: {df_train.shape} \n columns: {df_train.columns.values}")
print(f"df_test shape: {df_test.shape} \n columns: {df_test.columns.values}")

,pkt_0_ipv4_tl_9,pkt_0_ipv4_tl_10,pkt_0_ipv4_tl_11,pkt_0_ipv4_tl_12,pkt_0_ipv4_tl_13,pkt_0_ipv4_id_0,pkt_0_ipv4_id_1,pkt_0_ipv4_id_2,pkt_0_ipv4_id_3,pkt_0_ipv4_id_4,...,pkt_9_tcp_opt_182,pkt_9_tcp_opt_183,pkt_9_tcp_opt_184,pkt_9_tcp_opt_185,pkt_9_tcp_opt_186,pkt_9_tcp_opt_187,pkt_9_tcp_opt_188,pkt_9_tcp_opt_189,pkt_9_tcp_opt_190,pkt_9_tcp_opt_191
0,0,1,1,1,1,1,0,0,0,1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
1,0,1,1,0,1,0,1,0,0,0,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
2,0,1,1,1,1,0,0,1,1,1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
3,1,0,0,0,0,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6592,0,1,1,1,1,1,1,0,0,0,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
6593,1,0,0,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
6594,0,1,1,1,1,0,0,0,1,1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
6595,0,1,1,1,1,0,1,0,1,1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
6596,0,1,1,0,1,0,0,1,1,0,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1

,pkt_0_ipv4_tl_9,pkt_0_ipv4_tl_10,pkt_0_ipv4_tl_11,pkt_0_ipv4_tl_12,pkt_0_ipv4_tl_13,pkt_0_ipv4_id_0,pkt_0_ipv4_id_1,pkt_0_ipv4_id_2,pkt_0_ipv4_id_3,pkt_0_ipv4_id_4,...,pkt_9_tcp_opt_182,pkt_9_tcp_opt_183,pkt_9_tcp_opt_184,pkt_9_tcp_opt_185,pkt_9_tcp_opt_186,pkt_9_tcp_opt_187,pkt_9_tcp_opt_188,pkt_9_tcp_opt_189,pkt_9_tcp_opt_190,pkt_9_tcp_opt_191
0,0,1,1,1,1,0,0,0,1,0,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
1,0,1,1,1,1,0,0,1,1,0,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
2,0,1,1,1,1,1,1,0,1,1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
3,0,1,1,1,1,0,1,0,0,0,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
4,1,0,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
728,1,0,0,0,0,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
729,1,0,0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
730,0,1,1,1,1,0,0,1,0,1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
731,1,0,0,0,0,1,1,0,1,1,...,0,0,0,0,0,0,0,0,0,0
732,0,1,1,0,1,0,1,1,1,1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1

      label
0         2
1         3
2         0
3         3
4         2
...     ...
6592      1
6593      3
6594      2
6595      1
6596      3

[6597 rows x 1 columns]

     label
0        2
1        2
2        1
3        3
4        0
..     ...
728      0
729      3
730      3
731      1
732      3

[733 rows x 1 columns]

label
3    2985
1    1988
2    1025
0     599
Name: count, dtype: int64
label
3    331
1    221
2    114
0     67
Name: count, dtype: int64
df_train shape: (6597, 3872)
 columns: ['pkt_0_ipv4_tl_9' 'pkt_0_ipv4_tl_10' 'pkt_0_ipv4_tl_11' ...
 'pkt_9_tcp_opt_189' 'pkt_9_tcp_opt_190' 'pkt_9_tcp_opt_191']
df_test shape: (733, 3872)
 columns: ['pkt_0_ipv4_tl_9' 'pkt_0_ipv4_tl_10' 'pkt_0_ipv4_tl_11' ...
 'pkt_9_tcp_opt_189' 'pkt_9_tcp_opt_190' 'pkt_9_tcp_opt_191']

In [5]:
#Read file with ordered list of attributes ranked by the autoML feature importance algorithm
features_rankings_df = pd.read_csv('../datasets/nprint-raw/stream-video-c10-little/feature_importance-c10.csv')
features_rankings_df.rename(columns={'0': 'label'}, inplace=True)
display(features_rankings_df.head(40))

,Unnamed: 0,importance,stddev,p_value,n,p99_high,p99_low
0,pkt_9_ipv4_dst_6,0.0658,0.010809,6.359170e-09,10,0.076909,0.054691
1,pkt_2_rts,0.0248,0.005594,1.012670e-07,10,0.030549,0.019051
2,pkt_6_rts,0.0244,0.006518,4.324374e-07,10,0.031099,0.017701
3,pkt_4_rts,0.0238,0.002741,2.730473e-10,10,0.026617,0.020983
4,pkt_5_rts,0.0226,0.002675,3.487360e-10,10,0.025349,0.019851
5,pkt_9_ipv4_dst_13,0.0160,0.004522,6.965825e-07,10,0.020647,0.011353
6,pkt_5_ipv4_dst_6,0.0144,0.004971,3.693626e-06,10,0.019509,0.009291
7,pkt_1_rts,0.0132,0.003425,3.376672e-07,10,0.016720,0.009680
8,pkt_2_ipv4_dst_13,0.0108,0.004826,2.905640e-05,10,0.015759,0.005841
9,pkt_9_ipv4_dst_16,0.0096,0.003239,3.057087e-06,10,0.012928,0.006272
10,pkt_8_rts,0.0094,0.005739,2.897663e-04,10,0.015298,0.003502
11,pkt_9_rts,0.0090,0.002867,1.904115e-06,10,0.011947,0.006053
12,pkt_7_rts,0.0090,0.003559,1.110384e-05,10,0.012658,0.005342
13,pkt_3_rts,0.0086,0.004326,7.158332e-05,10,0.013045,0.004155
14,pkt_8_ipv4_ttl_5,0.0084,0.000843,8.035310e-11,10,0.009267,0.007533
15,pkt_9_ipv4_dst_0,0.0082,0.002741,2.830553e-06,10,0.011017,0.005383
16,pkt_9_ipv4_dst_1,0.0078,0.003190,1.452134e-05,10,0.011079,0.004521
17,pkt_3_tcp_opt_159,0.0076,0.002951,9.605351e-06,10,0.010633,0.004567
18,pkt_1_tcp_wsize_4,0.0070,0.001700,1.911429e-07,10,0.008747,0.005253
19,pkt_0_tcp_opt_64,0.0068,0.002150,1.786258e-06,10,0.009009,0.004591
20,pkt_7_ipv4_dst_0,0.0064,0.002633,1.521527e-05,10,0.009106,0.003694
21,pkt_3_tcp_wsize_4,0.0062,0.001989,2.015070e-06,10,0.008244,0.004156
22,pkt_1_tcp_opt_159,0.0060,0.004619,1.322610e-03,10,0.010747,0.001253
23,pkt_8_ipv4_ttl_1,0.0056,0.002066,6.340924e-06,10,0.007723,0.003477
24,pkt_1_tcp_opt_96,0.0054,0.002836,9.871654e-05,10,0.008315,0.002485
25,pkt_6_ipv4_id_6,0.0054,0.001647,1.320103e-06,10,0.007092,0.003708
26,pkt_4_ipv4_dst_0,0.0050,0.002357,4.385699e-05,10,0.007422,0.002578
27,pkt_1_tcp_seq_8,0.0048,0.001398,9.006050e-07,10,0.006237,0.003363
28,pkt_8_ipv4_dst_7,0.0046,0.007306,3.883386e-02,10,0.012108,-0.002908
29,pkt_3_ipv4_dst_1,0.0046,0.000966,5.457602e-08,10,0.005593,0.003607
30,pkt_2_ipv4_dst_7,0.0046,0.002503,1.279868e-04,10,0.007173,0.002027
31,pkt_7_ipv4_src_3,0.0042,0.001989,4.539357e-05,10,0.006244,0.002156
32,pkt_9_tcp_wsize_0,0.0038,0.002741,8.796354e-04,10,0.006617,0.000983
33,pkt_2_ipv4_dst_9,0.0038,0.000632,7.133465e-09,10,0.004450,0.003150
34,pkt_6_ipv4_dst_5,0.0036,0.003373,4.095855e-03,10,0.007066,0.000134
35,pkt_1_tcp_wsize_1,0.0034,0.003534,6.981726e-03,10,0.007032,-0.000232
36,pkt_4_ipv4_dst_7,0.0034,0.002836,2.138696e-03,10,0.006315,0.000485
37,pkt_9_ipv4_dst_18,0.0032,0.001398,2.443998e-05,10,0.004637,0.001763
38,pkt_7_ipv4_dst_6,0.0032,0.003553,9.571472e-03,10,0.006851,-0.000451
39,pkt_6_ipv4_dst_6,0.0032,0.002150,5.547587e-04,10,0.005409,0.000991

In [6]:
#make a list with only the best features
feature_list = ['pkt_3_rts','pkt_4_rts','pkt_5_rts','pkt_2_rts','pkt_6_rts','pkt_1_rts','pkt_7_rts','pkt_9_tcp_opt_96','pkt_8_rts','pkt_9_rts','pkt_0_tcp_opt_97','pkt_8_tcp_opt_96','pkt_0_tcp_opt_64','pkt_0_tcp_opt_65','pkt_1_tcp_opt_65','pkt_5_ipv4_id_10','pkt_3_tcp_opt_64','pkt_8_tcp_seq_1','pkt_0_tcp_opt_98','pkt_3_tcp_seq_1','pkt_0_tcp_opt_96','pkt_1_tcp_seq_26','pkt_0_tcp_sprt_1','pkt_9_tcp_seq_24','pkt_7_tcp_seq_17','pkt_4_tcp_dprt_9','pkt_5_tcp_seq_11','pkt_5_tcp_sprt_1','pkt_6_tcp_seq_0','pkt_1_tcp_seq_27','pkt_3_ipv4_id_4','pkt_9_tcp_seq_17','pkt_2_tcp_opt_65','pkt_6_tcp_seq_31','pkt_3_tcp_seq_21','pkt_2_tcp_seq_26','pkt_5_tcp_opt_64','pkt_3_tcp_dprt_9','pkt_6_tcp_seq_4']
feature_list_32 = feature_list[:32]
print(feature_list_32)

['pkt_3_rts', 'pkt_4_rts', 'pkt_5_rts', 'pkt_2_rts', 'pkt_6_rts', 'pkt_1_rts', 'pkt_7_rts', 'pkt_9_tcp_opt_96', 'pkt_8_rts', 'pkt_9_rts', 'pkt_0_tcp_opt_97', 'pkt_8_tcp_opt_96', 'pkt_0_tcp_opt_64', 'pkt_0_tcp_opt_65', 'pkt_1_tcp_opt_65', 'pkt_5_ipv4_id_10', 'pkt_3_tcp_opt_64', 'pkt_8_tcp_seq_1', 'pkt_0_tcp_opt_98', 'pkt_3_tcp_seq_1', 'pkt_0_tcp_opt_96', 'pkt_1_tcp_seq_26', 'pkt_0_tcp_sprt_1', 'pkt_9_tcp_seq_24', 'pkt_7_tcp_seq_17', 'pkt_4_tcp_dprt_9', 'pkt_5_tcp_seq_11', 'pkt_5_tcp_sprt_1', 'pkt_6_tcp_seq_0', 'pkt_1_tcp_seq_27', 'pkt_3_ipv4_id_4', 'pkt_9_tcp_seq_17']

In [7]:
#select a sub-dataframe with only the 32 top attrs rate by the AUTOGLUON feature importance algorithm
df_train = df_train[feature_list_32]
df_test = df_test[feature_list_32]

display(df_train)
display(df_test)

,pkt_3_rts,pkt_4_rts,pkt_5_rts,pkt_2_rts,pkt_6_rts,pkt_1_rts,pkt_7_rts,pkt_9_tcp_opt_96,pkt_8_rts,pkt_9_rts,...,pkt_0_tcp_sprt_1,pkt_9_tcp_seq_24,pkt_7_tcp_seq_17,pkt_4_tcp_dprt_9,pkt_5_tcp_seq_11,pkt_5_tcp_sprt_1,pkt_6_tcp_seq_0,pkt_1_tcp_seq_27,pkt_3_ipv4_id_4,pkt_9_tcp_seq_17
0,35,17451,3397,13470,23,44,20,0,20,20,...,0,0,0,0,0,0,1,1,1,1
1,1753,2377,246468,1126,66559,1327,4094,-1,490,3139,...,1,1,0,0,1,1,1,1,0,0
2,68,59,579,1237564,9622,381,67,0,123,59,...,1,0,0,0,0,0,0,1,1,0
3,609443,587699,1097406,1514911,327280,223,649932,1,245,2055571,...,1,0,1,0,1,1,1,0,0,1
4,1483863,103,440463,675961,355,19637,3164,0,92,134,...,1,1,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6592,4826,144,56,1307587,58,532,249,0,65,58,...,0,1,0,0,1,0,1,1,0,0
6593,138,184,251552,168,97,166,51,0,72,78,...,1,1,1,0,0,1,0,1,1,0
6594,111,88,109634,1264139,65,384,56,0,54,389,...,0,1,0,0,1,1,0,1,0,1
6595,33,31,81,37,54,229139,2704,0,37,29,...,1,1,1,0,0,0,0,1,0,0
6596,10820195,3000075,6000312,179715,12001357,1000491,3000221,-1,3468227,364828,...,1,1,1,0,1,1,0,1,0,0

,pkt_3_rts,pkt_4_rts,pkt_5_rts,pkt_2_rts,pkt_6_rts,pkt_1_rts,pkt_7_rts,pkt_9_tcp_opt_96,pkt_8_rts,pkt_9_rts,...,pkt_0_tcp_sprt_1,pkt_9_tcp_seq_24,pkt_7_tcp_seq_17,pkt_4_tcp_dprt_9,pkt_5_tcp_seq_11,pkt_5_tcp_sprt_1,pkt_6_tcp_seq_0,pkt_1_tcp_seq_27,pkt_3_ipv4_id_4,pkt_9_tcp_seq_17
0,89,849,58,1282712,57,295,480,0,111,55,...,1,0,0,0,0,0,0,1,0,0
1,4824,144,91,1379684,420,253,73,0,57,57,...,0,1,0,0,1,1,1,1,0,0
2,284384,68,60,930898,99,300,58,0,591,59,...,1,0,0,0,0,0,1,1,0,1
3,177,166,96,877,77,1237315,69,0,74,65,...,0,1,0,0,1,0,1,0,1,1
4,61,49,3349,1647622,57,206,49,0,1102,51,...,1,1,1,0,0,1,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
728,55,4257,50,54,51,1375651,48,0,74,53,...,1,1,1,0,1,1,1,1,0,1
729,272,1270836,8395,172,887,12689,1415,1,89,48,...,1,0,1,0,1,1,1,0,0,0
730,910096,201499835,130200,892114,10371,400646,156184566,0,361189895,51786,...,0,0,0,0,1,0,1,1,1,1
731,74988,355,905661,531841,77,1486,130,0,74,73,...,1,0,0,1,1,1,1,0,0,0
732,1027009,93815,733009,606142,2498097,117355,46880156,-1,3000573,6000432,...,1,0,0,0,1,1,0,0,0,0

In [9]:
# Model Parameters
number_of_attributes = df_train.shape[1]
hidden_layer_nodes = 256
output_layer_nodes = 4

# Traing Parameters
EPOCHS = 10
BATCH_SIZE = 10

# Run the NN Training multiple times to get a nice mean score of accuracy results
NUMBER_OF_NN_REPETITIONS = 10

def get_basic_model():
  model = tf.keras.Sequential([
    normalizer,
    tf.keras.layers.Dense(hidden_layer_nodes, activation='relu'),
    tf.keras.layers.Dense(output_layer_nodes)
  ])
  model.compile(optimizer='adam',
                loss=tf.keras.losses.SparseCategoricalCrossentropy(from_logits=True),
                metrics=['accuracy'])
  return model

In [10]:
# Convert int values to TF expect values (float)
df_train = np.asarray(df_train).astype(np.float32)
df_test = np.asarray(df_test).astype(np.float32)
# Converts pandas dataframe to tensorflow object
df_train = tf.convert_to_tensor(df_train)
# Set the 
normalizer = tf.keras.layers.Normalization(axis=-1)
# Normalize the data
normalizer.adapt(df_train)
#normalizer.adapt(numeric_features_test)

In [11]:
# Execute Trainning and Testing
#model = get_basic_model()
train_accuracy = []
test_accuracy = []

for i in range(NUMBER_OF_NN_REPETITIONS):
  model = get_basic_model()
  history = model.fit(df_train, label_train, epochs=EPOCHS, verbose=0, batch_size=BATCH_SIZE, callbacks=[history])
  one_train_accuracy = history.history['accuracy']

  test_loss, one_test_accuracy =  model.evaluate(df_test,  label_test, verbose=1, batch_size=BATCH_SIZE)
  train_accuracy.append(one_train_accuracy[-1])
  test_accuracy.append(one_test_accuracy)
  print(f"{i+1}: train_accuracy:{train_accuracy} test_accuracy:{test_accuracy}")
  tf_predictions_probabilities = model.predict(df_test)
  #tf_loss, tf_acc =  model.evaluate(numeric_features_test,  label_test, verbose=2, batch_size=BATCH_SIZE)

  #Confusion Matrix
  tf_predictions = []
  for i,x in enumerate(tf_predictions_probabilities):
    #print("i:",i,"x_max:",x.max(),"x:",x)
    j_max = x.argmax()
    tf_predictions.append(j_max)
  conf_m = tf.math.confusion_matrix(label_test,tf_predictions)
  print(conf_m)

#After n repetitions of training and testing, calculate statistics
train_accuracy_mean = sum(train_accuracy) / len(train_accuracy)
train_max = max(train_accuracy)
train_min = min(train_accuracy)
train_std = np.std(train_accuracy)
test_accuracy_mean = sum(test_accuracy) / len(test_accuracy)
test_max = max(test_accuracy)
test_min = min(test_accuracy)
test_std = np.std(test_accuracy)

print(f'accuracies_train: {train_accuracy}, accuracies_test: {test_accuracy}')
print(f'train_accuracy_mean: {train_accuracy_mean*100:.2f}, train_max: {train_max*100:.2f}, train_min: {train_min*100:.2f}, train_std: {train_std*100:.2f} \n test_accuracy_mean: {test_accuracy_mean*100:.2f}, test_max: {test_max*100:.2f}, test_min: {test_min*100:.2f}, test_std: {test_std*100:.2f}')

74/74 ━━━━━━━━━━━━━━━━━━━━ 0s 427us/step - accuracy: 0.5915 - loss: 0.8426
1: train_accuracy:[0.6289222240447998] test_accuracy:[0.5593451857566833]
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step
tf.Tensor(
[[ 25   7  22  13]
 [  8 111  34  68]
 [ 14  47  35  18]
 [  3  80   9 239]], shape=(4, 4), dtype=int32)
74/74 ━━━━━━━━━━━━━━━━━━━━ 0s 400us/step - accuracy: 0.6055 - loss: 0.8373
2: train_accuracy:[0.6289222240447998, 0.6227073073387146] test_accuracy:[0.5593451857566833, 0.5784447193145752]
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step
tf.Tensor(
[[ 27  11  14  15]
 [  9 102  26  84]
 [  9  48  38  19]
 [  3  67   4 257]], shape=(4, 4), dtype=int32)
74/74 ━━━━━━━━━━━━━━━━━━━━ 0s 416us/step - accuracy: 0.5584 - loss: 0.8549
3: train_accuracy:[0.6289222240447998, 0.6227073073387146, 0.626648485660553] test_accuracy:[0.5593451857566833, 0.5784447193145752, 0.5552523732185364]
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step
tf.Tensor(
[[ 21  11  15  20]
 [  7 110  32  72]
 [ 14  38  43  19]
 [  5  86   7 233]], shape=(4, 4), dtype=int32)
74/74 ━━━━━━━━━━━━━━━━━━━━ 0s 400us/step - accuracy: 0.5671 - loss: 0.8526
4: train_accuracy:[0.6289222240447998, 0.6227073073387146, 0.626648485660553, 0.6283159255981445] test_accuracy:[0.5593451857566833, 0.5784447193145752, 0.5552523732185364, 0.5607094168663025]
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step
tf.Tensor(
[[ 32  11   9  15]
 [ 10 128  25  58]
 [ 18  50  27  19]
 [  6  95   6 224]], shape=(4, 4), dtype=int32)
74/74 ━━━━━━━━━━━━━━━━━━━━ 0s 413us/step - accuracy: 0.5548 - loss: 0.8723
5: train_accuracy:[0.6289222240447998, 0.6227073073387146, 0.626648485660553, 0.6283159255981445, 0.6252841949462891] test_accuracy:[0.5593451857566833, 0.5784447193145752, 0.5552523732185364, 0.5607094168663025, 0.5579808950424194]
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step
tf.Tensor(
[[ 21  10  17  19]
 [  8 113  35  65]
 [ 10  37  50  17]
 [  3  89  14 225]], shape=(4, 4), dtype=int32)
74/74 ━━━━━━━━━━━━━━━━━━━━ 0s 400us/step - accuracy: 0.5501 - loss: 0.8602
6: train_accuracy:[0.6289222240447998, 0.6227073073387146, 0.626648485660553, 0.6283159255981445, 0.6252841949462891, 0.6268000602722168] test_accuracy:[0.5593451857566833, 0.5784447193145752, 0.5552523732185364, 0.5607094168663025, 0.5579808950424194, 0.5457025766372681]
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step
tf.Tensor(
[[ 32   6   9  20]
 [ 12  71  35 103]
 [ 24  34  34  22]
 [  7  54   7 263]], shape=(4, 4), dtype=int32)
74/74 ━━━━━━━━━━━━━━━━━━━━ 0s 397us/step - accuracy: 0.5598 - loss: 0.8812
7: train_accuracy:[0.6289222240447998, 0.6227073073387146, 0.626648485660553, 0.6283159255981445, 0.6252841949462891, 0.6268000602722168, 0.6318023204803467] test_accuracy:[0.5593451857566833, 0.5784447193145752, 0.5552523732185364, 0.5607094168663025, 0.5579808950424194, 0.5457025766372681, 0.542974054813385]
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step
tf.Tensor(
[[ 18   8  19  22]
 [  5  87  30  99]
 [ 14  39  37  24]
 [  3  63   9 256]], shape=(4, 4), dtype=int32)
74/74 ━━━━━━━━━━━━━━━━━━━━ 0s 399us/step - accuracy: 0.5932 - loss: 0.8398
8: train_accuracy:[0.6289222240447998, 0.6227073073387146, 0.626648485660553, 0.6283159255981445, 0.6252841949462891, 0.6268000602722168, 0.6318023204803467, 0.6249810457229614] test_accuracy:[0.5593451857566833, 0.5784447193145752, 0.5552523732185364, 0.5607094168663025, 0.5579808950424194, 0.5457025766372681, 0.542974054813385, 0.5702592134475708]
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step
tf.Tensor(
[[ 22  11  19  15]
 [  4 120  34  63]
 [ 13  37  48  16]
 [  4  87  12 228]], shape=(4, 4), dtype=int32)
74/74 ━━━━━━━━━━━━━━━━━━━━ 0s 404us/step - accuracy: 0.6040 - loss: 0.8494
9: train_accuracy:[0.6289222240447998, 0.6227073073387146, 0.626648485660553, 0.6283159255981445, 0.6252841949462891, 0.6268000602722168, 0.6318023204803467, 0.6249810457229614, 0.6248294711112976] test_accuracy:[0.5593451857566833, 0.5784447193145752, 0.5552523732185364, 0.5607094168663025, 0.5579808950424194, 0.5457025766372681, 0.542974054813385, 0.5702592134475708, 0.5702592134475708]
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step
tf.Tensor(
[[ 24  12  11  20]
 [  6 121  22  72]
 [ 16  49  28  21]
 [  4  77   5 245]], shape=(4, 4), dtype=int32)
74/74 ━━━━━━━━━━━━━━━━━━━━ 0s 427us/step - accuracy: 0.6096 - loss: 0.8246
10: train_accuracy:[0.6289222240447998, 0.6227073073387146, 0.626648485660553, 0.6283159255981445, 0.6252841949462891, 0.6268000602722168, 0.6318023204803467, 0.6249810457229614, 0.6248294711112976, 0.6278611421585083] test_accuracy:[0.5593451857566833, 0.5784447193145752, 0.5552523732185364, 0.5607094168663025, 0.5579808950424194, 0.5457025766372681, 0.542974054813385, 0.5702592134475708, 0.5702592134475708, 0.5648021697998047]
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step
tf.Tensor(
[[ 31   8  16  12]
 [ 14 120  35  52]
 [ 19  29  52  14]
 [  5  98  17 211]], shape=(4, 4), dtype=int32)
accuracies_train: [0.6289222240447998, 0.6227073073387146, 0.626648485660553, 0.6283159255981445, 0.6252841949462891, 0.6268000602722168, 0.6318023204803467, 0.6249810457229614, 0.6248294711112976, 0.6278611421585083], accuracies_test: [0.5593451857566833, 0.5784447193145752, 0.5552523732185364, 0.5607094168663025, 0.5579808950424194, 0.5457025766372681, 0.542974054813385, 0.5702592134475708, 0.5702592134475708, 0.5648021697998047]
train_accuracy_mean: 62.68, train_max: 63.18, train_min: 62.27, train_std: 0.24
 test_accuracy_mean: 56.06, test_max: 57.84, test_min: 54.30, test_std: 1.05

In [12]:
# Date for report file
now = datetime.now()
dt_string = now.strftime("%d-%m-%Y-%H-%M-%S")
print(dt_string)
# Report file content
report = {
    "datetime": dt_string,
    "training_dataset_shape":  str(df_train.shape),
    "test_dataset_shape": str(df_test.shape),
    "number_of_attributes": number_of_attributes,
    "n_epoch":EPOCHS,
    "accuracy_train": train_accuracy_mean,
    "train_max": train_max,
    "train_min": train_min,
    "train_std": train_std,
    "accuracy_test": test_accuracy_mean,
    "test_max": test_max,
    "test_min": test_min,
    "test_std": test_std,
    "accuracies_train": train_accuracy,
    "accuracies_test": test_accuracy
}

# Writes into the file
os.chdir('../tf-model-testing')
print(os.getcwd())

title_parameters_save = f"nn-nprint-app-iden-model-evaluation-{number_of_attributes}x{hidden_layer_nodes}x{output_layer_nodes}.json"
with open(title_parameters_save, "w") as f:
  json.dump(report, f)

title_parameters_save = f"nn-nprint-app-iden-model-evaluation-{number_of_attributes}x{hidden_layer_nodes}x{output_layer_nodes}-{dt_string}.json"
with open(title_parameters_save, "w") as f:
  json.dump(report, f)

12-06-2024-16-27-20
C:\NN-P4\tf-model-testing